body
{
    font-family: Arial, sans-serif;
    background-color: #8a2be2;
    color: #ff8c00;
    text-align: center;
}

h1
{
    font-size: 3em;
    font-weight: bold;
    color: #ff4500
}

h2
{
    font-size: 2em;
    font-weight: bold;
    color: #ff4500;
}